<br /><br />
<div class="main admin-login">
    <h1>Admin SignIn</h1>
    <br />
    <div class="item-icon">
       <div class="icon">
        </div><input type="text" [(ngModel)]="email" placeholder="Email" class="formTextField">
    </div>
    <br />
    <div class="item-icon">
       <div class="icon">
        </div><input type="password" [(ngModel)]="password" placeholder="Password" class="formTextField">
    </div>
    <br />
    <div>
        <button (click)="signIn()" class="adminSignInBtn">SignIn</button>
    </div>
</div>
