<div id="navbar">
        <div id="logo" style="cursor: pointer;"><img  src="../../../assets/images/buggy logo.jpg" width="100px" height="100px">
        </div>
        <div id="navmenu">
        <ul>
          <li><a  (click)="gotourl('')">Home</a></li>
          <li><a (click)="gotourl('about-us')" >About Us</a></li>
          <li><a (click)="gotourl('client-login')">ClientLogin</a></li>
          <li><a (click)="gotourl('admin-login')">Admin Login</a></li>
          <li><a (click)="gotourl('contact-us')">Contact Us</a></li>
        </ul>
      </div>
</div>      
  