<div class="home">
  <div class="home-content">
    <div class="explore-menu-section" id="exploreMenuSection">
      <div class="container">
        <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <img src="../../../assets/images/biriyani.png" class="circleImage" />
            </div>
            <div class="slide">
              <img src="../../../assets/images/chicken.png" class="circleImage"  />
            </div>
            <div class="slide">
              <img src="../../../assets/images/rice.png" class="circleImage" />
            </div>
            <div class="slide">
              <img src="../../../assets/images/poori.png" class="circleImage" />
            </div>
            <div class="slide">
              <img src="../../../assets/images/dosai.png" class="circleImage" />
            </div>
            <div class="slide">
              <img src="../../../assets/images/burger.png" class="circleImage"  />
            </div>
          </div>
        </div>
</div>
</div>
</div>
</div>
