<div class="about-page">
<div class="about-section">
    <h1>About Us </h1>
  </div>
<div class="welcome">
    <div class="container">
      <!-- //tittle heading -->
      <div class="row">
       
        <div class="col-lg-6 ">
          <p class="about-text">Welcome to Buggy, your go-to destination for a delectable and convenient online food delivery experience. Our journey began with a simple vision: to make the joy of savoring your favorite meals accessible at the click of a button.At Buggy, we are passionate about food, technology, and the joy that sharing a great meal can bring. Our platform was born out of a desire to connect food lovers with their favorite local eateries and bring a world of culinary delights right to their doorstep.</p>
        </div>
  
        <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4 textAlign">
          <img src="../../../assets/images/aboutus.jpg" class="imageAbt"  alt=" ">
        </div>
        <!-- <div class="welcome-left">
          <br><br><h3 class="text-left" style="color:#af3131;">&ensp;What We Do</h3>
          <h4 class="my-sm-3" style="margin-left:15px;">Our team is dedicated to ensuring that your experience with Buggy is nothing short of fantastic. We're continually innovating and improving our platform to make your food ordering experience smoother and more enjoyable. If you have any questions, concerns, or feedback, our customer support team is here to assist you.</h4>
        </div>
        <div class="welcome-left">
          <br><br><h3 class="text-left" style="color:#af3131;">&ensp;Our Vision</h3>
          <h4 class="my-sm-3" style="margin-left:15px;">
          <li>Our vision is to provide a seamless, satisfying, and time-saving food ordering experience for our valued customers.</li>
          <li>We believe in the power of choice, and our extensive selection of restaurants, cuisines, and dishes ensures there's something for everyone. </li>
          <li>To spread the joy of food.</li>
          </h4>
        </div> -->
      </div>
    </div>
  </div>
</div>